/.quarto/
**/*.quarto_ipynb
_site/*.*
_site
docs
docs/*
docs/**/*
_site.zip
data/SEC-10K-2024/*.*
data/SEC-10K-2024-HTML/*.*
help-code/3-neural-nlp/data
help-code/3-neural-nlp/data/corpora/aclImdb_v1.tar.gz
help-code/3-neural-nlp/data/corpora/imdb-reviews/*
help-code/3-neural-nlp/data/corpora/imdb-reviews/*.*
*.env
.env
deliverables-solutions/Assignments/outputs/M01_A_sol/tfidf_matrix.csv
deliverables-solutions/Assignments/outputs/*.*
deliverables-solutions/Assignments/outputs