/.quarto/
**/*.quarto_ipynb*
_site/*.*
_site
docs
docs/*
docs/**/*
_site.zip
data/SEC-10K-2024/*.*
data/SEC-10K-2024-HTML/*.*
help-code/3-neural-nlp/data
help-code/3-neural-nlp/data/corpora/aclImdb_v1.tar.gz
help-code/3-neural-nlp/data/corpora/imdb-reviews/*
help-code/3-neural-nlp/data/corpora/imdb-reviews/*.*
*.env
.env
deliverables-solutions/Assignments/outputs/M01_A_sol/tfidf_matrix.csv
deliverables-solutions/Assignments/outputs/*.*
deliverables-solutions/Assignments/outputs
schedules/__pycache__/*
bu_calendar/__pycache__/*
*/*/__pycache__/*
*/*/__pycache__/*.*
help-code/secfile/sec-edgar-filings/TSLA/10-K/1900/tsla-10k_20181231.htm
help-code/secfile/sec-edgar-filings/TSLA/10-K/2000/tsla-10k_20191231.htm
help-code/secfile/sec-edgar-filings/TSLA/10-K/2000/tsla-20211231.htm
help-code/secfile/sec-edgar-filings/TSLA/10-K/2015/tsla-10k_20151231.htm
help-code/secfile/sec-edgar-filings/TSLA/10-K/2016/tsla-10k_20161231.htm
help-code/secfile/sec-edgar-filings/TSLA/10-K/2017/tsla-10k_20171231.htm
help-code/secfile/sec-edgar-filings/TSLA/10-K/2018/tsla-10k_20181231.htm
help-code/secfile/sec-edgar-filings/TSLA/10-K/2019/tsla-10k_20191231.htm
help-code/secfile/sec-edgar-filings/TSLA/10-K/2020/tsla-10k_20201231.htm
help-code/secfile/sec-edgar-filings/TSLA/10-K/2021/tsla-20211231.htm
help-code/secfile/sec-edgar-filings/TSLA/10-K/2022/tsla-20221231.htm
help-code/secfile/sec-edgar-filings/TSLA/10-K/2023/tsla-20231231.htm
help-code/secfile/sec-edgar-filings/TSLA/10-K/2024/tsla-20241231.htm
help-code/secfile/sec-edgar-filings/TSLA/10-K/2025/tsla-20251231.htm

**/*.quarto_ipynb
