/.quarto/
**/*.quarto_ipynb
_site/*.*
_site
docs
docs/*
docs/**/*
_site.zip
data/SEC-10K-2024/*.*
data/SEC-10K-2024-HTML/*.*
help-code/3-neural-nlp/data
.env
help-code/3-neural-nlp/data/corpora/aclImdb_v1.tar.gz
help-code/3-neural-nlp/data/corpora/imdb-reviews/*
help-code/3-neural-nlp/data/corpora/imdb-reviews/*.*