/*-- scss:defaults --*/

// fonts

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Roboto+Slab:wght@100..900&display=swap');
$font-family-sans-serif: "Roboto Slab",
serif !default;
$presentation-heading-font: "Roboto Slab",
serif !default;
$presentation-body-font: "Source Sans 3",
sans-serif !default;
$code-font: "Fira Code",
monospace !default;

// colors
$body-bg: #ffffff !default;
$title-color: #003366 !default;
$subtitle-color: #ffac00;
$code-color: #e64f1e;
$accent: #CC5B23;
$accent2: #06A2CB;
$accent3: #993366;
$dark-gray: #565656;
$light-blue: #f0f8ff; // Light blue background
$darker-gray: #131516; // Text color
$button-bg: #dbe9f1; // Button background color
$button-text: #000000; // Button text color

// images
$img-logo-rgb: url("boston_univ.png");

/*-- scss:rules --*/

// Slide number styling for lower-right corner
.slide-number,
.reveal.has-logo .slide-number {
  bottom: 23px !important;
  right: 295px !important;
  top: unset !important;
  color: #336699 !important;
  font-size: 14pt !important;
  font-weight: bold !important;
  font-family: $font-family-sans-serif !important;
}

// Hide slide number on the first (title) slide
.reveal #title-slide .slide-number {
  display: none !important;
  /* Completely hide the slide number */
}

// Logo styling (unchanged for bottom-left)
.reveal .slide-logo {
  background-image: url("");
  display: block !important;
  position: fixed !important;
  bottom: 15px !important;
  left: 325px !important;
  /* Place logo at the bottom-left corner */
  max-height: 8% !important;
  /* Restrict the height of the logo */
  height: auto !important;
  /* Maintain aspect ratio */
  width: auto !important;
  /* Maintain aspect ratio */
  color: $dark-gray!important;
  /* Ensure appropriate text color if needed */
  z-index: 9;
  /* Place logo behind slide numbers */
}


// two column toc for revealjs quarto 


// text decorations
.bloodred-bold {
  color: #CC1122; // This sets the text color to the specified hexadecimal value
  font-weight: bold; // This makes the text bold
}

.uured-bold {
  color: #d34972; // This sets the text color to the specified hexadecimal value
  font-weight: bold; // This makes the text bold
}

.uugreen-bold {
  color: #669966; // This sets the text color to the specified hexadecimal value
  font-weight: bold; // This makes the text bold
}

.uublue-bold {
  color: #06A2CB; // This sets the text color to the specified hexadecimal value
  font-weight: bold; // This makes the text bold
}

.reveal p {
  // font-weight: 300;
  font-weight: 500;
  font-size: 18pt;
  margin-top: 1.0em;
  margin-bottom: 1.0em;
  color: #343434;
}


// TITLE SLIDE 
.reveal .slide-background.quarto-title-block {
  background-image:
    url(""); // Replace this with the actual path to your SVG file
  // url('D:/Repositories/AD899-CSP03/Presentations/Lightcast_Project/antenna-cw-cj_nFa14-unsplash.jpg'); // Background image from Unsplash
  background-color: #fff;

  background-size: auto 103%; // Adjust background sizes
  background-position: top center, center; // Position SVG and image
  background-repeat: no-repeat, no-repeat;
}


#title-slide {
  text-align: left;
  margin-left: 0em;
  margin-top: -4em;
  padding-left: 0em;
  padding-top: 3em;
  padding-bottom: 3em;

  // /* Colored box under headings and names */
  // &::before {
  //   content: '';
  //   position: absolute;
  //   top: -50pt;
  //   /* Adjust based on header placement */
  //   left: -225pt;
  //   width: 100%;
  //   /* Full width of the title slide */
  //   height: 110%;
  //   /* Adjust to fit content height */
  //   background-color: $accent2;
  //   /* Semi-transparent box */
  //   box-shadow: 0px 10px 20px #273958;
  //   /* Soft shadow */
  //   z-index: -1;
  //   /* Place behind text but above background */
  // }

  h1.title {
    color: #ffffff;
    font-size: 28pt;
    font-weight: 600;
  }

  .subtitle {
    font-size: 24pt;
    color: $subtitle-color;
    font-style: italic;
    font-weight: 600;
    margin-top: 0.65em;
  }

  .author,
  .quarto-title-author-name {
    color: #993366;
    font-size: 18pt;

  }

  .quarto-title-authors {
    font-size: 18pt;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    gap: 4em;
  }

  .quarto-title-author {
    padding: 0.0em;
  }

  .quarto-title-affiliation {
    font-size: 16pt;
    font-style: italic;
    color: #f0f8ff;
  }

  .date {
    color: $title-color;
    font-size: 12pt;
    font-weight: 400;
    margin-top: 4px;
  }

  .date-modified {
    color: $title-color;
    font-size: 12pt;
    font-weight: 400;
    margin-top: 4px;
  }

  .date-label {
    font-size: 12pt;
    text-transform: uppercase;
    color: #EAEAEA;
    font-weight: bold;
    margin-bottom: 2px;
  }

  // To position labels above the dates:
  .date-container {
    display: flex;
    justify-content: space-between; // Ensures "Published" is on the left, "Modified" on the right
    align-items: flex-start; // Aligns text labels at the top
    width: 100%; // Takes the full width of the page
  }

  .date-item {
    display: flex;
    flex-direction: column; // Ensures label and date stack vertically
  }

  // Adding a button-like element for 'Get insights'
  .button {
    display: inline-block;
    background-color: $button-bg;
    color: $button-text;
    padding: 0.5em 1em;
    border-radius: 6px;
    font-size: 14pt;
    text-align: center;
    margin-top: 1em;
    text-decoration: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }

  .button:hover {
    background-color: darken($button-bg, 10%);
  }
}

// headings

.reveal h1 {
  font-size: 22pt;
  color: $title-color;
  font-weight: 800;
  // font-weight: lighter;
  // margin-top: 1.25em;
}

.reveal h2 {
  font-weight: 600;
  font-size: 18pt;
  color: $title-color;
  /* Replace $title-color with its hex equivalent */
  border-bottom: 2px solid $subtitle-color;
  /* Replace $subtitle-color with its hex equivalent */
  padding-bottom: 5px;
  /* Adjust for spacing between text and underline */
  width: 99.99%;
  /* Optional: keeps underline limited to text width */
}


.reveal h3 {
  color: $accent;
  font-weight: 600;
  font-style: italic;
  font-size: 16pt;

}

.reveal h4 {
  color: $accent2;
  // font-weight: 350;
  font-weight: normal;
  margin-top: 1.25em;
  font-size: 14pt;
}

h5 {
  color: $accent2;
  font-weight: normal;
  margin-top: 0.5em;
  font-size: 12pt;
}

// lists

// Unordered lists
.reveal ul {
  list-style: outside none;
  font-size: 16pt;
  font-weight: 600; // First level bold
  padding-left: 1.0em; // Indentation
  text-indent: -1.0em; // Hanging indent
  margin-left: 1.0em; // Space for hanging indent
  color: #343434; // Text color 

  li::before {
    content: "\2B24";
    /* Unicode for Large Circle */
    font-size: 0.75em;
    /* Consistent size for the bullet marker */
    color: #003366;
    display: inline-block;
    width: 1.0em;
    margin-right: 0.5em;
    margin-top: -0.1em;
  }

  // Hanging indent for first level list items
  li {
    margin-left: 1.0em;
    text-indent: -1.0em;
  }

  // Second level unordered lists
  ul {
    list-style: none;
    font-size: 16pt;
    font-weight: 400; // Second level italic
    font-style: italic;
    padding-left: 1.0em; // Indentation
    text-indent: -1.0em;
    margin-left: 1.0em;

    li::before {
      content: "\25C6";
      /* Unicode for Medium Diamond */
      font-size: 0.95em;
      /* Consistent size for the bullet marker */
      color: mix($accent, white, 70%);
      display: inline-block;
      width: 1.0em;
      margin-right: 0.5em;
      font-style: normal;
    }

    // Hanging indent for second level list items
    li {
      margin-left: 1.0em;
      text-indent: -1.0em;
    }
  }
}

// Ordered lists

/* Base styling for ordered lists */
.reveal ol {
  font-size: 16pt;
  font-weight: 600; // First level bold
  color: #343434 !important;
  list-style-type: decimal;
  /* Default numbering for first level */
  padding-left: 0.25in;
  /* Base indent for the first level */
  line-height: 1.5;
  margin: 0;
  /* Reset margin */
}

/* First-level ordered list styling */
ol>li {
  font-weight: 700;
  margin-bottom: 0.5em;
  position: relative;
  padding-left: 0.25in;
  /* Add space for numbering */
}

/* Second-level ordered list styling */
ol>li>ol {
  list-style-type: lower-alpha;
  /* Use lowercase alphabet for the second level */
  padding-left: 1em;
  /* Increase indentation for the second level */
  font-style: normal;
}

ol>li>ol>li {
  font-style: italic;
  font-weight: normal;
  color: #464646;
  margin: 0.25em 0;
  position: relative;
  padding-left: 0.25in;
  /* Add space for numbering */
}

/* Third-level ordered list styling */
ol>li>ol>li>ol {
  list-style-type: lower-roman;
  /* Use lowercase Roman numerals for the third level */
  padding-left: 1em;
  /* Increase indentation for the third level */
}

ol>li>ol>li>ol>li {
  font-style: normal;
  font-weight: 300;
  margin: 0.25em 0;
  position: relative;
  padding-left: 0.25in;
  /* Add space for numbering */
  color: #343434;
}

// figure caption

.reveal {
  .slides {
    img+p.caption {
      font-size: 12pt !important;
      color: #545454;
      text-align: center;
    }

    figcaption {
      font-size: 12pt !important;
      color: #036;
      text-align: center;
    }

  }
}

.title-slide {

  // &:is(.slide-background) {
  //   background-image: url('../../../../../assets/section3.svg');
  //   @include background-full;
  // }
  h1,
  h2,
  h3,
  h4,
  pre {
    margin-left: 0px;
    margin-top: -100px;
    width: 65%;
  }

  h1 {
    font-size: 1.1em !important;
    color: $title-color;
  }

  // h2 {
  //   color: $theme-blue;
  //   font-size: 1.5em;
  // }
  p {
    margin-left: 0px;
    margin-top: 0px;
    width: 65%;
  }
}

/* custom-styles.scss */
table {
  font-size: 10pt;
  border-collapse: collapse;
  margin-top: 10px !important;
  margin-bottom: 10px !important;

  th {
    font-weight: bold;
    background-color: #06A2CB;
    color: #ffffff;
    border-bottom: 0.5px solid #999;
    border-left: none;
    border-right: none;
  }

  td,
  th {
    border-bottom: none;
    border-left: none;
    border-right: none;
  }

  tr:last-child td {
    border-bottom: 0.5px solid #999;
  }
}


.reveal code  {
  // center code blocks
  font-family: $code-font;
  font-size: 12pt !important;
  text-align: left;
  // width: 100 !important;
  // background-color: #EAEAEA !important;
  // margin-left: 0.5% !important;
  // margin-right: 0.5% !important;
  // align-content: center;
  // border: 0px solid #369 !important;
  // margin-top: 5px;
  // margin-bottom: 5px;
  // padding: 10px;
  // max-height: unset;
  // max-width: unset; 

}

.references {
  font-size: 11pt;
  // color: #369;
  // font-style: italic;
  margin-top: 1.25em;
}



/* Style for the tabset container */
.panel-tabset {
  margin: 1rem 0;
}

/* Tabs header styling */
.panel-tabset-tabby {
  list-style: none !important;
  /* Remove default bullet points */
  display: flex;
  /* Align tabs horizontally */
  justify-content: center;
  /* Center tabs */
  padding: 0;
  margin: 0;
}

/* Remove bullets for tab headers */
.panel-tabset-tabby li::before {
  content: none !important;
  /* Remove ::before pseudo-element (bullets) */
}

.panel-tabset-tabby li {
  margin: 0;
}

.panel-tabset-tabby a {
  display: inline-block;
  padding: 15px 30px;
  /* Padding for a "button" feel */
  background-color: #fff;
  /* Default tab color */
  color: white;
  /* Text color */
  font-weight: bold;
  text-decoration: none;
  /* Remove underline */
  border-radius: 10px 10px 0 0;
  /* Rounded corners for the top */
  transition: background-color 0.3s ease;
  /* Smooth color transition */
  min-width: 150px;
  /* Add a minimum width for tabs */
  max-width: 350px;
  text-align: center;
  /* Center text inside the tab */
  white-space: nowrap;
  /* Prevent text wrapping */
  overflow: hidden;
  /* Prevent overflow */
}



/* Hover effect */
.panel-tabset-tabby a:hover {
  background-color: #accee4;
  /* Lighter orange for hover */
}

.panel-tabset-tabby a[aria-selected="true"] {
  background-color: #fff !important;
  /* Active tab color (orange) */
  color: white;
  /* Active tab text color */
}

/* Override Quarto's TOC styles */


/* Styling the overall Table of Contents container */
.toc {
  font-size: 10pt; /* General font size for the TOC */
  column-count: 3; /* Split into three columns */
  column-gap: 20px; /* Space between columns */
  padding: 20px; /* Padding inside the TOC */
  max-width: 100%; /* Ensure TOC stays within the container */
}

/* Styling the TOC title */
.toc h2 {
  text-align: center; /* Center the title */
  font-weight: 600; /* Bold title */
  font-size: 16pt; /* Font size for the title */
  color: #003366; /* Title color */
  margin-bottom: 20px; /* Add space below the title */
  border-bottom: 2px solid #336699; /* Underline the title */
  padding-bottom: 5px; /* Add space between text and underline */
}

/* Top-level list items (sections) */
.toc ul {
  list-style: none; /* Remove default bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
}

.toc ul > li {
  margin-bottom: 15px; /* Add space below sections */
  font-size: 10pt; /* Font size for sections */
  counter-increment: section; /* Enable numbering for sections */
  color: #003366; /* Section text color */
  font-weight: bold; /* Bold sections */
}

.toc ul > li::before {
  content: counters(section, ".") " "; /* Add numbered prefix (e.g., 1, 2) */
  font-weight: bold; /* Bold the prefix */
  font-size: 10pt; /* Match section font size */
  color: #003366; /* Match section text color */
}

/* Nested list items (subsections) */
.toc ul ul {
  margin-left: 20px; /* Indent nested lists */
  counter-reset: subsection; /* Reset subsection counter */
}

.toc ul ul li {
  margin-bottom: 10px; /* Smaller spacing for subsections */
  font-size: 9pt; /* Font size for subsections */
  counter-increment: subsection; /* Enable numbering for subsections */
  color: #336699; /* Subsection text color */
  font-weight: normal; /* Normal font weight */
}

.toc ul ul li::before {
  content: counters(section, ".") "." counters(subsection, ".") " "; /* Number subsections (e.g., 1.1, 1.2) */
  font-weight: normal; /* Normal weight for prefix */
  font-size: 9pt; /* Match subsection font size */
  color: #336699; /* Match subsection text color */
}


.listing .card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  background-color: #f9f9f9;
}

.listing .card-title {
  font-size: 16px;
  font-weight: bold;
}

.listing .card-description {
  color: #555;
}


.reveal sourceCode {
  // center code blocks
  font-size: 8pt !important;
  font-family: $code-font !important;
  // text-align: left;
  // width: 80% !important;
  // background-color: #EAEAEA !important;
  // margin-left: 0.5% !important;
  // margin-right: 0.5% !important;
  // align-content: center;
  // border: 1px solid #369 !important;
  // margin-top: 10px;
  // margin-bottom: 10px;
  // padding: 10px;

}

.references {
  font-size: 11pt;
  // color: #369;
  // font-style: italic;
  margin-top: 1.25em;
}



.math.inline .MathJax  {
  font-size: 100% !important;
  color: #343434 !important;
}

.math.display .MathJax  {
  font-size: 100% !important;
  color: #343434 !important;
}